*{
    box-sizing: border-box;
}



body {
    background-color: #fff);
    
}
.container {
    max-width: 100%;
    margin: auto;
  
}

.gallery {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: minmax(200px, auto);
    grid-gap: 20px;
    justify-content: center;
    margin: auto;
}

.searchbox {
    border: solid 2px grey;
    border-radius: 5px;
    width: 50%;
    padding: 15px  10px;
    margin-bottom: 30px;
    font-size: 1.1em;
    
    justify-items: center;
 }

 .search {
    
    text-align: center;
   
 }

 
 