*{
    box-sizing: border-box;
}



body {
    background-color: rgb(231, 223, 223);
    
}
.container {
    background-color: white;
    max-width: 80%;
    margin: auto;
   
}

.gallery {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 200px;
    grid-gap: 20px;
}

.searchbox {
    border: solid 2px rgb(231, 223, 223);
    border-radius: 5px;
    width: 50%;
    padding: 15px  10px;
    margin-bottom: 30px;
    
    font-size: 1.1em;
    color: rgb(136, 119, 119);
    justify-items: center;
 }

 .search {
    
    text-align: center;

 }

 
 